{% extends 'galleryBundle::layout_admin.html.twig' %}

{% block content %}
    <h1>Sous-catégorie</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ entity.category }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ entity.img }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('subcategory') }}">
            << Retour à la liste
        </a>
    </li>
    <li>
        <a href="{{ path('subcategory_edit', { 'id': entity.id }) }}">
            Editer
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
