<header id="globalHeader">
    <a href="{{ path('home') }}" class="backHome"></a>
    <nav>
        <ul>
            <li><a href="{{ path('peintures') }}"><img src="{{ asset('bundles/gallery/images/rub_01_large.png') }}" alt="Peintures"></a></li><!-- 
             --><li><a href="{{ path('illustrations') }}"><img src="{{ asset('bundles/gallery/images/rub_02_large.png') }}" alt="Illustrations"></a></li><!-- 
             --><li><a href="{{ path('carnets') }}"><img src="{{ asset('bundles/gallery/images/rub_03_large.png') }}" alt="Carnets"></a></li><!-- 
             --><li><a href="{{ path('expos') }}"><img src="{{ asset('bundles/gallery/images/rub_04_large.png') }}" alt="Expos"></a></li><!-- 
             --><li><a href="{{ path('contact') }}"><img src="{{ asset('bundles/gallery/images/rub_05_large.png') }}" alt="Contact"></a></li>
        </ul>
    </nav>
</header>